@charset "utf-8";

@font-face {
  font-family: 'symbols-nerds';
  src: url('../font/symbols-nerds.eot?26602946');
  src: url('../font/symbols-nerds.eot?26602946#iefix') format('embedded-opentype'),
       url('../font/symbols-nerds.woff2?26602946') format('woff2'),
       url('../font/symbols-nerds.woff?26602946') format('woff'),
       url('../font/symbols-nerds.ttf?26602946') format('truetype'),
       url('../font/symbols-nerds.svg?26602946#symbols-nerds') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'symbols-nerds';
    src: url('../font/symbols-nerds.svg?26602946#symbols-nerds') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "symbols-nerds";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-basket:before { content: '\e800'; } /* '' */
.icon-down-dir:before { content: '\e801'; } /* '' */
.icon-up-dir:before { content: '\e802'; } /* '' */
.icon-check:before { content: '\e803'; } /* '' */
.icon-check-empty:before { content: '\f096'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-circle-empty:before { content: '\f10c'; } /* '' */
.icon-vkontakte:before { content: '\f189'; } /* '' */
.icon-dot-circled:before { content: '\f192'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */

html,
body {
  min-width: 900px;

  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  font-family: Roboto, Arial, sans-serif;
  color: #283136;

  background-color: #fff;
}

/************** Общие стили для всех страниц **************/
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 880px;
  padding: 0 10px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  padding: 12px 40px;

  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 2px;
}

.main-header {
  margin-bottom: 80px;
  padding-top: 25px;

  background-color: #eeeeee;
}

.header-top {
  margin-bottom: 53px;
}

.header-logo {
  float: left;

  width: 139px;
  height: 56px;
}

.header-logo {
  width: 139px;
  height: 56px;
}

.main-nav {
  float: left;

  width: 400px;
  margin-left: 183px;
}

.main-nav ul {
  margin: 0;
  margin-top: 26px;
  padding: 0;

  font-size: 0;
  list-style: none;
}

.main-nav li {
  display: inline-block;
  margin-right: 45px;

  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  vertical-align: top;
}

.main-nav li:last-child {
  margin-right: 0;
}

.main-nav a {
  color: #000;
  text-decoration: none;
}

.main-nav a:hover {
  color: #f87f81;
}

.main-nav a:active {
  color: #a8a8a8;
}

.user-block {
  float: right;

  width: 110px;
}

.trash {
  position: relative;

  display: inline-block;
  margin-top: 26px;
  padding-left: 34px;

  font-size: 14px;
  line-height: 30px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: top;
}

.user-block a:hover {
  color: #f87f81;
}

.user-block a:active {
  color: #a8a8a8;
}

.feature-logo {
  width: 240px;
  height: 124px;
}

.feature-logo img {
  width: 240px;
  height: 124px;
}

.feature-name {
  margin: 0;
  padding-top: 27px;
  padding-bottom: 21px;

  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.feature-item p {
  margin: 0;
  margin-bottom: 27px;

  font-size: 15px;
  line-height: 22px;
}

.feature-item .btn-site {
  background-color: #fb565a;
}

.feature-item .btn-apps {
  background-color: #00ca74;
}

.feature-item .btn-presents {
  background-color: #efc84a;
}

.about-us-left b {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 0;

  font-size: 36px;
  line-height: 36px;
}

.about-us-left p {
  margin: 16px 0;
}

.about-us-left .skills {
  display: inline-block;
  margin-top: 32px;

  text-transform: uppercase;
}

.about-us-left ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.skill-list li {
  position: relative;

  padding-left: 37px;
}

.skill-list li::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 0;

  display: inline-block;
  width: 25px;
  height: 2px;

  background-color: #fb565a;
}

.about-us-logo {
  margin-bottom: 33px;
}

.about-us-right .skills {
  display: inline-block;
  margin-top: 32px;

  text-transform: uppercase;
}

.about-us-right ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.partners-logo {
  opacity: .2;
}

.partners-logo:hover {
  opacity: 1;
}

.partners .glukhanko-logo,
.glukhanko-logo img {
  width: 198px;
  height: 37px;
}

.partners .academy-logo,
.academy-logo img {
  width: 199px;
  height: 68px;
}

.partners .barbershop-logo,
.barbeshop-logo img {
  width: 209px;
  height: 90px;
}


/************** Сетка главной страницы **************/
.features {
  padding-bottom: 80px;
}

.feature-item {
  float: left;

  width: 240px;
  min-height: 299px;
  margin-right: 80px;
}

.feature-item:last-child {
  margin-right: 0;
}

.about-us {
  position: relative;

  padding-top: 59px;
  padding-bottom: 73px;
}

.about-us-left::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;

  display: block;
  width: 880px;
  height: 2px;

  background-color: #eee;
}

.about-us-left {
  float: left;
  width: 619px;
}

.about-us-right {
  float: right;
  width: 240px;
}

.partners {
  position: relative;

  padding-top: 47px;
  padding-bottom: 33px;
  margin-bottom: 85px;
}

.partners::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;

  display: block;
  width: 880px;
  height: 2px;

  background-color: #eee;
}

.partners::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  width: 880px;
  height: 2px;

  background-color: #eee;
}

.partners-logo {
  display: inline-block;
  margin: 0;
  margin-right: 123px;
  vertical-align: middle;
}

.partners-logo:last-child {
  margin-right: 0;
}

.contacts-and-map {
  position: relative;
  height: 417px;
}

.contacts-and-map::after {
  content: "";
  position: absolute;
  right: 30%;
  bottom: 33%;

  width: 231px;
  height: 190px;
  margin-right: -5px;

  background-image: url(../images/marker-map.png);
  background-repeat: no-repeat;
}

.contacts {
  position: absolute;
  top: 88px;

  width: 204px;
  padding-top: 30px;
  padding-bottom: 27px;
  padding-left: 23px;
  padding-right: 23px;

  background-color: #fff;
}

.contacts span {
  color: #000;
  font-size: 16px;
  line-height: 30px;
}

.contacts .btn-contact {
  margin-top: 30px;

  background-color: #fb565a;
}

.main-footer {
  min-height: 120px;
  padding-top: 96px;
}

.footer-social {
  float: left;

  width: 240px;
  margin-right: 80px;
}

.footer-social .social-btn {
  display: inline-block;
  width: 50px;
  height: 37px;
  margin-right: 27px;
  padding-top: 13px;

  font-size: 20px;
  color: #fff;
  text-align: center;

  background-color: #e1e1e1;
  border-radius: 50%;
}

.footer-social .social-btn:last-child {
  margin-right: 0;
}

.footer-social .social-btn:hover {
  background-color: #fb565a;
}

.footer-social .social-btn:active {
  background-color: #d6494d;
  box-shadow: inset 0 2px 2px rgba(0,0,0,.3);
}

.footer-promo {
  float: right;

  width: 550px;
  margin-top: 0;
  padding: 0;
}

.footer-promo span {
  display: inline-block;
  margin-bottom: 7px;

  color: #000;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}
